<div class="page new-skin">
		
  <!-- preloader -->
  <div class="preloader">
      <div class="centrize full-width">
          <div class="vertical-center">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
          </div>
      </div>
  </div>

  <!-- background -->
  <div class="background gradient">
      <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </div>

  <!--
      Container
  -->
  <div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

      <!--
          Header
      -->
      <header class="header">

          <!-- header profile -->
          <div class="profile">
              <div class="title">Ryan Adlard</div>
              <div class="subtitle subtitle-typed">
                  <div class="typing-title">
                      <p>Web Designer</p>
                      <p>Developer</p>
                      <p>Freelancer</p>
                  </div>
              </div>
          </div>

          <!-- menu btn -->
          <!--<a href="#" class="menu-btn"><span></span></a>-->

          <!-- menu -->
          <div class="top-menu">
              <ul>
                  <li class="active">
                      <a href="#about-card">
                          <span class="icon ion-person"></span>
                          <span class="link">About</span>
                      </a>
                  </li>
                  <li>
                      <a href="#resume-card">
                          <span class="icon ion-android-list"></span>
                          <span class="link">Resume</span>
                      </a>
                  </li>
                  <li>
                      <a href="#works-card">
                          <span class="icon ion-paintbrush"></span>
                          <span class="link">Works</span>
                      </a>
                  </li>
                  <li>
                      <a href="#blog-card">
                          <span class="icon ion-chatbox-working"></span>
                          <span class="link">Blog</span>
                      </a>
                  </li>
                  <li>
                      <a href="#contacts-card">
                          <span class="icon ion-at"></span>
                          <span class="link">Contact</span>
                      </a>
                  </li>
              </ul>
          </div>

      </header>

      <!-- 
          Card - Started
      -->
      <div class="card-started" id="home-card">

          <!--
              Profile
          -->
          <app-profile></app-profile>

      </div>

      <!-- 
          Card - About
      -->
          <app-about></app-about>
      <!--
          Card - Resume
      -->
          <app-resume></app-resume>
      <!--
          Card - Works
      -->
          <app-works></app-works>
      <!--
          Card - Blog
      -->
          <app-blog></app-blog>
      <!--
          Card - Contacts
      -->
          <app-contacts></app-contacts>
  </div>


</div>
